.root{
    -fx-background-color: #0D0D0D; /* Green */
    -fx-font-size: 14px;
    -fx-padding: 18px 18px;
    -fx-spacing: 10px;
}

.root-first-block{
    -fx-background-color:#0E2626;
    -fx-background-radius:19px;
    -fx-pref-width:1300px;
    -fx-pref-height:140px;
    -fx-padding: 5px 0px;
    -fx-spacing: 18px;
    -fx-border-color: #0A1C1C;
    -fx-border-width: 6px;
    -fx-border-radius: 18px;
    -fx-alignment: center;
}
.root-text{
    -fx-font: 21px impact;
    -fx-text-fill: white;
}
.listView-library{
    -fx-background-color: #0A1C1C;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-control-inner-background: #0A1C1C;
}
.find-text{
    -fx-background-color: #0D0D0D;
    -fx-background-radius: 8px;
    -fx-font: 12px georgia;
    -fx-text-fill:white;
}
.root-button{
    -fx-background-color: #0A1C1C;
    -fx-background-radius: 100%;
    -fx-border-color:transparent;
}

.text-area{
    -fx-pref-height:600px;
    -fx-pref-width: 800px;
}


.order-area{
    -fx-background-color:#0E2626;
    -fx-background-radius:19px;
    -fx-pref-width: 420px;
    -fx-pref-height:150px;
    -fx-padding: 25px 30px;
    -fx-spacing: 25px;
    -fx-border-color: #0A1C1C;
    -fx-border-width: 6px;
    -fx-border-radius: 18px;
}

.result-area{
    -fx-background-color:#0E2626;
    -fx-background-radius:19px;
    -fx-pref-width:420px;
    -fx-pref-height:450px;
    -fx-spacing: 25px;
    -fx-border-color: #0A1C1C;
    -fx-border-width: 6px;
    -fx-border-radius: 18px;
}

.area-orderr{
    -fx-background-color:#0E2626;
    -fx-pref-width:420px;
    -fx-pref-height:50px;
}

.list-cell{
    -fx-background-color:#0E2626;
    -fx-spacing: 2px;
    -fx-text-fill: white;
}

.list-cell:hover{
    -fx-background-color: #0A4C4C;
}

.highlightedText {
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-fill: #B22222;
}
.scroll-bar {
    -fx-background-color: #0E2626; /* Color de fondo de la barra */
}

/* Estilos para el botón de desplazamiento hacia arriba */
.scroll-bar .increment-button {
    -fx-background-color: #0A1C1C; /* Color de fondo del botón */
}

/* Estilos para el botón de desplazamiento hacia abajo */
.scroll-bar .decrement-button {
    -fx-background-color: #0A1C1C; /* Color de fondo del botón */
}

/* Estilos para el control deslizante de la barra de desplazamiento */
.scroll-bar .thumb {
    -fx-background-color: #0A4C4C; /* Color de fondo del control deslizante */
}
